
<div class="table-responsive">
    <table class="table table-hover">
	<thead>
	    <tr>
		<th><%=t 'activerecord.attributes.product.name'%></th>
		<th><%=t 'activerecord.attributes.product.stock'%></th>
		<th></th>

		<th colspan="2"></th>
	    </tr>
	</thead>

	<tbody>
	    <%if !@store.nil?%>
		<% @store.store_products.each do |product| %>
		    <tr class="row-line row-store">
			<td><%= product.product.name %></td>
			<td><%= product.stock||0 %></td>
			<td>

			</td>
		    </tr>
		<%end%>
 
	    <%else%>
		<%=render 'products/no_data' %>
	    <%end%>
	</tbody>
    </table>

</div>



