<%= form_with(model: category, remote: true) do |form| %>
  <%= render('general/errors',  modelo: category ) %>
  <div class="field form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control uppercase', autofocus: true %>
  </div>

  <div class="field">
      <%= form.label :tag_list %><br />
      <%= form.text_field :tag_list, value: category.tag_list.join(',') , class: 'form-control', data: { role: "tagsinput"} %>
  </div>  
  
  <%= form.submit t('.save'), class: 'btn btn-danger btn-modal'%>

<% end %>
