<%= form_with(model: product, local: true) do |form| %>
    <%=render 'general/errors', modelo: product%>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name , class: 'form-control', maxlength: 50, autofocus: true%>
  </div>

  <div class="field">
      <%= form.label :color %>

      <%= form.select :color, options_for_select(Product.allowed_colors.map {|k, v| [t('colors.'+k.to_s).capitalize, v]},product.color) , {include_blank: true} , {class:'form-control '} %>
      
  </div>

  <div class="field">
      <%= form.label :size %>
      <%= form.select :size,options_for_select(Product.allowed_sizes.map {|k, v| [t('sizes.'+k.to_s).capitalize, v]}, product.size), {include_blank: true}, {class:'form-control select'} %>
  </div>

  <div class="field form-group">
      <%= form.label :stock %>
      <%= form.text_field :stock , class: 'form-control numberText', maxlength: 5%>
  </div>

  <div class="field form-group">
      <%= form.label :category_id %>
      <%= text_field_tag :q, ((product.category.nil?)?'':product.category.name), autocomplete: :off, class: "form-control search-input", placeholder: t(:type_your_keyword) %>  
      <%=form.hidden_field :category_id%>
      <%# form.collection_select :category_id, @categories,:id,:name, {include_blank: true}, {class: 'form-control'} %>      
  </div>
  
  
  <div class="field">
      <%= form.label :price %>
      <%= form.text_field :price, class: 'form-control allow_decimal', maxlength: 6 %>
  </div>
  
  <div class="actions">
    <%= form.submit t('.save'), :class=>'btn btn-primary' %>
  </div>
<% end %>
