<div class="card">
    <h1><%= t '.title' %></h1>
    <p>
	<%= link_to t('new'), new_product_path, class: 'btn btn-primary' %>
    </p>
    <div class="table-responsive">
	<table class="table table-hover">
	    <thead>
		<tr>
		    <th><%=t('activerecord.attributes.product.name') %></th>
		    <th><%=t('activerecord.attributes.product.color')%></th>
		    <th><%=t('activerecord.attributes.product.size')%></th>
		    <th><%=t('activerecord.attributes.product.price')%></th>
		    <th colspan="3"></th>
		</tr>
	    </thead>

	    <tbody>
		<%if !@products.nil?%>		
		    <% @products.each do |product| %>
			<tr class="row-line row-product">
			    <td><%= link_to product.name, edit_product_path(product) %></td>
			    <td><%= t('colors.' + product.color).capitalize %></td>
			    <td><%= t('sizes.' + product.size).capitalize %></td>
			    <td><%= product.price %></td>
			    <td><%= link_to t(:edit), edit_product_path(product) %></td>
			    <td><%= link_to t(:destroy), product, method: :delete, data: { confirm: t(:are_you_sure, name: product.name) } %></td>
			</tr>
		    <% end %>
		    <%if @products.length==0%>
			<%=render 'stores/no_data' %>
		    <% end %>		    
		<%else%>
		    <%=render 'stores/no_data' %>
		<% end %>		    
	    </tbody>
	</table>
	<%= will_paginate @products %>
    </div>
</div>
<br>
